
h1,h2{
color: #ff00e1;
text-shadow: -3px 0 #00ffff,0 3px #00ffff,3px 0 #00ffff,0 -3px #00ffff;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ol{
color: #ff00e1;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#Q1 {
background-image: url("HTML/images/Q1.jpg")
background-size: 98%, 98%;
background-repeat: no-repeat;
}
