
h1,h2{
color: #ff00e1;
text-shadow: -3px 0 #00ffff,0 3px #00ffff,3px 0 #00ffff,0 -3px #00ffff;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ol{
color: #ff00e1;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body, html {
height: 100%;
margin:0
}

#Q1 {
background-image: url("images/Q1.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left;
}
#Q2 {
background-image: url("images/Q2.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left;
}

#Q3 {
background-image: url("images/Q3.jpeg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left;
}

#Q4 {
background-image: url("images/Q4.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#Q5 {
background-image: url("images/Q5.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#Q6 {
background-image: url("images/Q6.png");
background-size: cover;
background-repeat: no-repeat;
height: 80%;
background-position: left:
}

#Q7 {
background-image: url("images/Q7.png");
background-size: cover;
background-repeat: no-repeat;
height: 80%;
background-position: left:
}

#q7 {
color: #00ffff;
}

#Q8 {
background-image: url("images/Q8.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 80%;
background-position: left:
}

#Q9 {
background-image: url("images/Q9.png");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#Q10 {
background-image: url("images/Q10.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#triv {
background-image: url ("images/trivia.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#final { background-image: url('images/final.jpg');
            		background-size: cover;
                    background-repeat: no-repeat;
            	}
            p {
            	font-size: 15px;
            	}


#finalh1{
color: #ff00e1;
text-shadow: -3px 0 #00ffff,0 3px #00ffff,3px 0 #00ffff,0 -3px #00ffff;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
size: 50px
}
