
h1,h2{
color: #ff00e1;
text-shadow: -3px 0 #00ffff,0 3px #00ffff,3px 0 #00ffff,0 -3px #00ffff;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ol{
color: #ff00e1;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body, html {
height: 100%;
margin:0
}

#Q1 {
background-image: url("images/Q1.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left;
}
#Q2 {
background-image: url("images/Q2.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left;
}

#Q3 {
background-image: url("images/Q3.jpeg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left;
}

#Q4 {
background-image: url("images/Q4.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#Q5 {
background-image: url("images/Q5.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#Q6 {
background-image: url("images/Q6.png");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#Q7 {
background-image: url("images/Q7.png");
background-size: cover;
background-repeat: no-repeat;
height: 80%;
background-position: left:
}

#q7 {
color: #00ffff;
}

#Q8 {
background-image: url("images/Q8.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#Q9 {
background-image: url("images/Q9.png");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#Q10 {
background-image: url("images/Q10.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#triv {
background-image: url("images/trivia.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
}

#final { background-image: url('images/final.jpg');
            		background-size: 100%;
                    background-repeat: no-repeat;
            	}
            p {
            	font-size: 15px;
		color: #ff00e1;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            	}


#finalh1{
color: #ff00e1;
text-shadow: -3px 0 #00ffff,0 3px #00ffff,3px 0 #00ffff,0 -3px #00ffff;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
size: 50px
}

FORM {
color: #00ffff;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

        	#winner {
	background-image: url("images/winner.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: left:
    }
.pic{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
	}
 
#images{
    text-align:center;
		}
.button {
	-moz-box-shadow:inset -1px -1px 0px -21px #00ffff;
	-webkit-box-shadow:inset -1px -1px 0px -21px #00ffff;
	box-shadow:inset -1px -1px 0px -21px #00ffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00ffff), color-stop(1, #00a3a3) );
	background:-moz-linear-gradient( center top, #00ffff 5%, #00a3a3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff', endColorstr='#00a3a3');
	background-color:#00ffff;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:-6.28px;
	border:3px solid #00a3a3;
	display:inline-block;
	color:#000000;
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:41px;
	line-height:41px;
	width:157px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 29px #ded17c;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00a3a3), color-stop(1, #00ffff) );
	background:-moz-linear-gradient( center top, #00a3a3 5%, #00ffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a3a3', endColorstr='#00ffff');
	background-color:##00a3a3;
	}
.button:active {
	position:relative;
	top:1px;
    }  
