
h1,h2{
color: #ff00e1;
text-shadow: -3px 0 #00ffff,0 3px #00ffff,3px 0 #00ffff,0 -3px #00ffff;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ol{
color: #ff00e1;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

body, html {
height: 100%;
margin:0
}

#Q1 {
background-image: url("images/Q1.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: center:
}
#Q2 {
background-image: url("images/Q2.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: center:
}

#Q3 {
background-image: url("images/Q3.jpeg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: center:
}

#Q4 {
background-image: url("images/Q4.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: center:
}

#Q5 {
background-image: url("images/Q5.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: center:
}

#Q6 {
background-image: url("images/Q6.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
background-position: center:
}
